<%- include('layout/header') %> 
<div class="container  border my-4 " style="border-radius: .5rem;">
  <div class="text-center m-0 p-0">
    <h5 class="my-3">Create new User</h5>
    <hr>
  </div>
  <div class="container px-2 mx-2">
      <form method="post" action="/customers">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name ="name" >
      </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="text" class="form-control"  name ="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Balance</label>
        <input type="number" class="form-control" name ="balance">
      </div>
      <div class="text-center my-4">
      <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
  </div>


<%- include('layout/footer') %> 