<%- include('layout/header') %> 

<div class="jumbotron p-4 p-md-5 text-white bg-dark" style="height: 100vh ;">
  <div class="col px-0">
    <h1 class="display-2 font-italic">Spark Bank</h1>
    <h2 class="display-5 font-italic">Designed by: Muhammed Abdelshafy Abdallah</h2>
    <p class="lead my-3">A Task from the sparks foundation to Make transactions between customers</p>
    <p class="lead mb-0"><a href="/customers" class="text-white font-weight-bold">Show all cutomers</a></p>
  </div>
</div>

<%- include('layout/footer') %> 
